@page
@model Organizer.Web.Pages.LogOutModel
@{
    ViewData["Title"] = "LogOut";
}
<form method="post">
    <h2>Are you sure want to logout?</h2>
    <button type="submit" class="btn btn-primary">Yes</button>
</form>
